
<div class="col-6" @onclick="(args)=> ShowLastSelectedProduct(args, product.Name)">
    <h2>Product - @product.Id</h2>
    <input type="checkbox" name="IsFavourite" @onchange="ToggleFavourite" /> Add To Favourite <br /><br />

    Name: @product.Name <br />
    <p>RF From Parent: <span>@FirstFragment</span> <span>@SecondFragment</span></p> <br />
    Show Properties: <input type="checkbox" name="isActive" @bind="@product.IsActive" /> <br />
    @if (product.IsActive)
    {
        <div>
            @foreach (ProductProperties item in product.Attributes)
            {
                <p> @item.Key | @item.Value</p>
            }
        </div>
    }
    <_EditDeleteButtons IsActive="@product.IsActive"></_EditDeleteButtons>
</div>

@code {
    [Parameter]
    public DummyProduct product { get; set; }

    [Parameter]
    public EventCallback<bool> OnFavouriteSelection { get; set; }

    private async Task ToggleFavourite(ChangeEventArgs e)
    {
        await OnFavouriteSelection.InvokeAsync((bool)e.Value);
    }

    [Parameter]
    public EventCallback<string> OnProductSelection { get; set; }

    private async Task ShowLastSelectedProduct(MouseEventArgs e, string name)
    {
        await OnProductSelection.InvokeAsync(name);
    }

    [Parameter]
    public RenderFragment FirstFragment { get; set; }
    [Parameter]
    public RenderFragment SecondFragment { get; set; }
}
